<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_CLIENT_KEY</key>
	<string>058b60806f4c163ffda4fd057636244d</string>
	<key>PARSE_APP</key>
	<string>ueCOfDXzBxiaF8WtBvbZZ6XzPfNdNOLLc2WHNQyN</string>
	<key>PARSE_CLIENT_KEY</key>
	<string>eyXFTMo6pDdtq0itfyhlcQc1l2VF7FTb9hEjhTFn</string>
</dict>
</plist>
